body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 8px 24px;
  border: none;
  color: #e5e7eb;
  font-weight: bold;
}

.body_A {
  background-color: #1F2937;
  height: 450px;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 75px;
}

.logo {
  font-size: 24px;
  color: #e5e7eb;
}

.list_A {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  gap: 24px;
}

.content_A {
  display: flex;
  gap: 24px;
}

.content_A_left {
  flex: 1;
}

.content_A_right {
  flex: 1;
  background-color: #6e6e6e;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_A {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.text_B {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 12px;
}

.text_C {
  color: #e5e7eb;
}


.body_B {
  background-color: #F9FAF8;
  height: 450px;
  padding: 0 150px;
}

.text_D {
  text-align: center;
  padding-top: 45px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.body_C {

}

.body_D {

}

.footer {

}