body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.body_A {
  background-color: #1F2937;
  height: 425px;
  padding: 0 200px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 75px;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #e5e7eb;
}

.list_A {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  gap: 24px;
}

.content_A {
  display: flex;
  gap: 24px;
}

.content_A_left {
  flex: 1;
}

.content_A_right {
  flex: 1;
  background-color: #6e6e6e;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_A {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.text_B {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 12px;
}

.text_C {
  color: #e5e7eb;
}

.button_A {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 8px 24px;
  border: none;
  color: #e5e7eb;
  font-weight: bold;
}


.body_B {
  background-color: #F9FAF8;
  height: 450px;
}

.text_D {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.content_B {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}

.B_column {
  display: flex;
  flex-direction: column;
}

.picture{
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 2px solid #3882F6;
  border-width: 4px;
}

.text_E {
  font-size: 18px;
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 8px;
}

.body_C {
  background-color: #E5E7EB;
  padding: 120px 400px;
}

.container {
  display: flex;
  flex-direction: column;
}

.quote_A {
  font-size: 36px;
}

.quote_B {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bolder;
  padding-top: 8px;
}

.body_D {
  background-color: #F9FAF8;
  height: 325px;
  padding: 0 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_D {
  height: 125px;
  width: 950px;
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.D_column {
  display: flex;
  flex-direction: column;
}

.text_F { 
  color: #E5E7EB;
  font-size: 24px;
}

.text_G {
  color: #E5E7EB;
  font-size: 18px;
}

.button_B {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 8px 24px;
  border: 3px solid #E5E7EB;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  height: 100px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
}